<div class="container">
  <div style="margin-left: auto; margin-right: auto">
    <p id="profileFeedback"></p>
  </div>
  <mat-card class="mat-elevation-z4">
    <form [formGroup]="profileForm" (ngSubmit)="updateUser()">
      <section>
        <mat-form-field>
          <mat-label>Enter your Name</mat-label>
          <input matInput type="text" [formControl]="name" required aria-label="name" />
          <mat-error>{{ errors.name }}</mat-error>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <mat-label>Enter your First Surname</mat-label>
          <input matInput type="text" [formControl]="surname_1" required aria-label="surname1" />
          <mat-error>{{ errors.surname_1 }}</mat-error>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <mat-label>Enter your Second Surname</mat-label>
          <input matInput type="text" [formControl]="surname_2" aria-label="surname2" />
          <mat-error>{{ errors.surname_2 }}</mat-error>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <mat-label>Enter your Alias</mat-label>
          <input matInput type="text" [formControl]="alias" required aria-label="alias" />
          <mat-error>{{ errors.alias }}</mat-error>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <mat-label>Enter your Birth Date</mat-label>
          <input matInput type="date" [formControl]="birth_date" required aria-label="birthDate" />
          <mat-error>{{ errors.bird_date }}</mat-error>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput type="email" [formControl]="email" required placeholder="xxxxx@example.com"
            aria-label="email" />
          <mat-error>{{ errors.email }}</mat-error>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput type="password" [formControl]="password" required aria-label="password" />
          <mat-error>{{ errors.password }}</mat-error>
        </mat-form-field>
      </section>
      <section style="text-align: center;">
        <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Update User</button>
      </section>
    </form>
  </mat-card>
</div>