<mat-toolbar color="primary" *ngIf="showNoAuthSection">
  <mat-toolbar-row class="menu">
    <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
    <a mat-button [routerLink]="'/home'"> Home </a>
    <a mat-button [routerLink]="'/login'"> Login </a>
    <a mat-button [routerLink]="'/register'"> Register </a>

  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="showAuthSection">
  <mat-toolbar-row class="menu">
    <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
    <a mat-button [routerLink]="'/home'"> Home </a>
    <a mat-button [routerLink]="'/posts'"> Admin Posts </a>
    <a mat-button [routerLink]="'/categories'"> Admin Categories </a>
    <a mat-button [routerLink]="'/profile'"> Profile </a>
    <a mat-button [routerLink]="'/logout'"> Logout </a>
  </mat-toolbar-row>
</mat-toolbar>