<div *ngIf="posts">
  <p>Num likes: {{ numLikes }}</p>
  <p>Num dislikes: {{ numDislikes }}</p>
  <ngx-charts-bar-horizontal [view]="view" [scheme]="colorScheme" [results]="post_data" [gradient]="gradient"
    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
  </ngx-charts-bar-horizontal>
</div>
<div *ngIf="postState | async as p">
  <div class="overlay" *ngIf="p.loading">
    <div class="center">
      <mat-progress-spinner diameter=50 mode="indeterminate" color="accent">
      </mat-progress-spinner>
    </div>
  </div>
</div>