<h2>Post List</h2>
<button mat-button (click)="createPost()">Add</button>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="posts">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let post"> {{post.postId}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> TITLE </th>
      <td mat-cell *matCellDef="let post"> {{post.title}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
      <td mat-cell *matCellDef="let post"> {{post.description}} </td>
    </ng-container>
    <ng-container matColumnDef="num_likes">
      <th mat-header-cell *matHeaderCellDef> N.Likes </th>
      <td mat-cell *matCellDef="let post"> {{post.num_likes}} </td>
    </ng-container>
    <ng-container matColumnDef="num_dislikes">
      <th mat-header-cell *matHeaderCellDef> N.DisLikes </th>
      <td mat-cell *matCellDef="let post"> {{post.num_dislikes}} </td>
    </ng-container>
    <ng-container matColumnDef="publication_date">
      <th mat-header-cell *matHeaderCellDef> Pub. Date </th>
      <td mat-cell *matCellDef="let post"> {{post.publication_date}} </td>
    </ng-container>
    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef> Categories </th>
      <td mat-cell *matCellDef="let post">
        <span *ngFor="let category of post.categories">
          {{ category.title }} <br />
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let post">
        <button mat-button><i class="fa fa-edit" (click)="updatePost(post.postId)"></i></button>
        <button mat-button><i class="fa fa-trash" (click)="deletePost(post.postId)"></i></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>

  <mat-paginator [length]="5" [pageSize]="3" [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>
  <div *ngIf="postState | async as p">
    <div class="overlay" *ngIf="p.loading">
      <div class="center">
        <mat-progress-spinner diameter=50 mode="indeterminate" color="accent">
        </mat-progress-spinner>
      </div>
    </div>
  </div>
</div>